{% extends "base.html" %}
{% block content %}
<section class="min-h-screen w-full rounded-lg p-32 flex flex-col justify-center items-center" style="background-image: url('https://images.pexels.com/photos/7641923/pexels-photo-7641923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); background-size: cover; ">

    <h1 class="text-6xl font-semibold mb-4 bg-clip-text text-transparent bg-gradient-to-r from-blue-300 to-purple-500">Find your forever home</h1>
  
    <p class="text-gray-100 text-2xl mb-8">
        <form action="{{ url_for('search') }}" method="POST">
            <div class="mb-6">
                <label for="query"></label>
  <input type="text" name="query" id="query" minlength="3" class="validate" required placeholder="Enter a location..." class="w-4/6 h-16 px-3 rounded-l mb-8 pl-16 focus:outline-none focus:shadow-outline px-8 shadow-lg" type="search" placeholder="Find your adventure..." />
    <button type="submit" class="w-2/6 bg-blue-500 hover:bg-blue-700 border-teal-500 hover:border-teal-700 text-white rounded-r h-16">
      Search
    </button>
    <a href="{{ url_for('get_properties') }}" class="red btn text-shadow">Reset</a> 
    <button type="submit" class="light-blue darken-1 btn text-shadow">
  
</div>
</form>

    </p>
  
    <div class="container flex text-xl w-4/6">
  
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute text-gray-500 h-16 w-16 p-4">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
  
      </svg>
      
  
  </section>

 <!-- Dropdown Price  -->
 <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Price</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      <a href="{{ url_for('filter') }}" method="POST" name="price_150k" id="price_150k">Up to £150,000</a>
      <a href="{{ url_for('filter200k') }}">Up to £200,000</a>
      <a href="{{ url_for('filter250k') }}">Up to £250,000</a>
      <a href="{{ url_for('filter275k') }}">Up to £275,000</a>
      <a href="{{ url_for('filter300k') }}">Up to £300,000</a>
      <a href="{{ url_for('filter320k') }}">Up to £320,000</a>
      <a href="{{ url_for('get_properties') }}">No Max</a>
     
    </div>
  </div>

  <!-- Dropdown bedrooms-->

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Bedrooms</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      <a href="#about">1 Bedroom</a>
      <a href="#base">2+ Bedrooms</a>
      <a href="#blog">3+ Bedrooms</a>
      <a href="#contact">4+ Bedrooms</a>
      <a href="#custom">5+ Bedrooms</a>
      <a href="#support">No Max</a>
    </div>
  </div>

  <!-- Dropdown type-->

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Property Type</button>
    <div id="myDropdown" class="dropdown-content">
      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
      <a href="#about">Detached</a>
      <a href="#base">Semi-detached</a>
      <a href="#blog">Terraced</a>
      <a href="#contact">Bungalow</a>
      <a href="#custom">Apartment</a>
    </div>
  </div>
            {% for property in properties %}
            <main class="py-6 px-4 sm:p-6 md:py-10 md:px-8">
                <div class="max-w-4xl mx-auto grid grid-cols-1 lg:max-w-5xl lg:gap-x-20 lg:grid-cols-2">
                  <div class="relative p-3 col-start-1 row-start-1 flex flex-col-reverse rounded-lg bg-gradient-to-t from-black/75 via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
                    <h1 class="mt-1 text-lg font-semibold text-white sm:text-slate-900 md:text-2xl dark:sm:text-white">{{ property.type }}{{ property.bedrooms }} Bedroom Property</h1>
                    <p class="text-sm leading-4 font-medium text-white sm:text-slate-500 dark:sm:text-slate-400">{% if property.under_offer %}
                        <p> UNDER OFFER </p>
                   {% else %}
                        <p> Offers over £{{ property.price }} </p>
                   {% endif %}</p>
                  </div>
                  <div class="grid gap-4 col-start-1 col-end-3 row-start-1 sm:mb-6 sm:grid-cols-4 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
                    <img src="{{ property.img_url[0] }}" alt="" class="w-full h-60 object-cover rounded-lg sm:h-52 sm:col-span-2 lg:col-span-full" loading="lazy">
                    <img src="{{ property.img_url[1] }}" alt="" class="hidden w-full h-52 object-cover rounded-lg sm:block sm:col-span-2 md:col-span-1 lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
                    <img src="{{ property.img_url[2] }}" alt="" class="hidden w-full h-52 object-cover rounded-lg md:block lg:row-start-2 lg:col-span-2 lg:h-32" loading="lazy">
                  </div>
                  <dl class="mt-4 text-xs font-medium flex items-center row-start-2 sm:mt-1 sm:row-start-3 md:mt-2.5 lg:row-start-2">
                    <dt class="sr-only">Reviews</dt>
                    <dd class="text-indigo-600 flex items-center dark:text-indigo-400">
                      <svg width="24" height="24" fill="none" aria-hidden="true" class="mr-1 stroke-current dark:stroke-indigo-500">
                        <path d="m12 5 2 5h5l-4 4 2.103 5L12 16l-5.103 3L9 14l-4-4h5l2-5Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <span>4.89 <span class="text-slate-400 font-normal">(128)</span></span>
                    </dd>
                    <dt class="sr-only">Location</dt>
                    <dd class="flex items-center">
                      <svg width="2" height="2" aria-hidden="true" fill="currentColor" class="mx-3 text-slate-300">
                        <circle cx="1" cy="1" r="1" />
                      </svg>
                      <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-1 text-slate-400 dark:text-slate-500" aria-hidden="true">
                        <path d="M18 11.034C18 14.897 12 19 12 19s-6-4.103-6-7.966C6 7.655 8.819 5 12 5s6 2.655 6 6.034Z" />
                        <path d="M14 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" />
                      </svg>
                      {{ property.city }}
                    </dd>
                  </dl>
                  <div class="mt-4 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
                    <a href="{{ url_for('property_detail', property_id=property._id) }}"><button type="button" class="bg-indigo-600 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg">See More</button></a>
                  </div>
                  <p class="mt-4 text-sm leading-6 col-start-1 sm:col-span-2 lg:mt-6 lg:row-start-4 lg:col-span-1 dark:text-slate-400">
                   {{ property.description }} 
                  </p>
                </div>
                <hr>
              </main>
    
        
            {% endfor %}
            {% endblock %}

 






m