{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m6">
    <div class="card large">
        {% for property in properties %}
        <div class="card image">
            <img src="{{ property.img_url[0,1,2] }}">
        </div>
        <span class="card-title">
        {{ property.property_type }} {{ property.bedrooms }} Bedroom home situated in {{ property.city }}
    </span>
        {{ property.city }}<br>
        {{ property.price }}<br>
        {{ property.description }}<br>
    </div>
</div>
</div>
    {% endfor %}
{% endblock %}

